{
  "env": {
    "node": true, // this is the best starting point
    "browser": true, // for react web
    "es6": true, // enables es6 features
    "jest/globals": true
  },
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "react-native",
    "jest"
  ],
  "globals": {
  },
  "rules": {
    "no-use-before-define": 1,
    "react/prop-types": 0,
    "react/forbid-prop-types": [1, { "forbid": ["any", "array"]}],
    "function-paren-newline": 0,
    "object-property-newline": 0,
    "no-mixed-operators": 0,
    "no-else-return": 0,
    "no-trailing-spaces": 1,
    "class-methods-use-this": 0,
    "no-unused-expressions": ["error", { "allowShortCircuit": true, "allowTernary": true }],
    "padded-blocks": 1,
    "max-len": [1, { "code": 150 }],
    "semi": 0,
    "global-require": 0,
    "prefer-rest-params": 0,
    "arrow-parens": 0,
    "arrow-body-style": [0, "as-needed"],
    "comma-dangle": ["warn", {
      "objects": "always-multiline",
      "functions": "ignore"
    }],
    "object-curly-newline": 0,
    "operator-linebreak": 0,
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "no-useless-constructor": "off",
    "no-multiple-empty-lines": ["error", { "max": 1 }],
    "react/jsx-boolean-value": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-wrap-multilines": 0,
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/destructuring-assignment": 0,
    "react/require-default-props": 0
  }
}
